- provide(:title, "胸トレ")
.jumbotron
  .container
    %h1
      胸のトレーニングコース
.jumbotron.bg-light
  .container
    %h3#chest_level1
      レベル1：立位腕立て
    %iframe{:allow => "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
            :allowfullscreen => "",
            :frameborder => "0",
            :src => "https://www.youtube.com/embed/aVH_2X3q6xc",
            :height => "315",
            :width => "560"}
    %br
    %br
    %h3#chest_level2
      レベル2：腕立て伏せ
    %iframe{:allow => "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
            :allowfullscreen => "",
            :frameborder => "0",
            :src => "https://www.youtube.com/embed/DXhpFVAHKOk",
            :height => "315",
            :width => "560"}
    %br
    %br
    %h3#chest_level3
      レベル3：片手腕立て伏せ
