- provide(:title, "コース一覧")
.jumbotron
  .container
    %h1
      コース一覧
    %p
      自宅でできる筋トレ方法を学び、健康に生きましょう！
.container.pb-3
  .row
    .col-md-4.bg-light.p-2.m-2
      %h2
        %a.text-dark{:href => chest_course_path}胸
      %a{:href => "#{chest_course_path}/#chest_level1"}レベル1：立位腕立て<br>
      %a{:href => "#{chest_course_path}/#chest_level2"}レベル2：腕立て伏せ<br>
      %a{:href => "#{chest_course_path}/#chest_level3"}レベル3：片手腕立て伏せ<br>
    .col-md-4.bg-light.p-2.m-2
      %h2
        肩
      %a{:href => "#"}レベル1：ショルダープレス<br>
      %a{:href => "#"}レベル2：逆立ち<br>
      %a{:href => "#"}レベル3：片手逆立ち<br>
    .col-md-4.bg-light.p-2.m-2
      %h2
        背中(上)
      %a{:href => "#"}レベル1：机懸垂<br>
      %a{:href => "#"}レベル2：チューブ懸垂<br>
      %a{:href => "#"}レベル3：懸垂<br>
