<% provide(:title, "Home") %>

<h1>0円筋トレ Home</h1>
<p>
  筋トレを始めるのに、ジムやプロテインは不要です。<br>
  このサイトで「0円筋トレ」の方法を学び、健康を手に入れましょう！<br>
  ※コンテンツは現在作成中です。
</p>
<h2>『一人でも多くの人に健康に生きてほしい』</h2>
<p>
　私は過去にスポーツクラブに勤めていた経験から、「健康」が豊かな人生を送るために必要な要素の1つであると信じています。<br>
<br>
　健康になるためには、3つの要素が必要です。それは、「運動」「食事」「休養」です。私はこの3つの情報をこのサイトから発信し、一人でも多くの人の健康に貢献したいと思っています。<br>
<br>
　私が特に力を入れたいことは、「0円筋トレの普及」です。多くの人が筋トレを始めようとする際、どんなジムに通ったらいいか、どのようにプロテインを飲んだらいいか等を悩みます。しかし、筋トレを始めるにはジムもプロテインも必要ありません。己自身の身体さえあれば筋トレはできます。そのことをより多くの人に知ってもらい、その人たちが筋トレを気軽に始めるられるようサポートしていきたいです。なぜなら私は『一人でも多くの人に健康に生きてほしい』心からそう願っているから。<br>  
  <%= image_tag "me_smile.jpg", alt: "me smile" %>
</p>
